{% extends 'box/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<style media="screen">
    label {
    display: block;
    padding: 5px;
    transform:translateY(6px);
    left:13px;
    color:rgba($white,.5);
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:22px;
      .req {
        margin:2px;
        color:$main;
        }
    }
    input {
      width: 40%;
    }
    form {
      width: 30%; height: 50%;
      text-align: center;
      border: 3px solid black;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
    }
</style>

<div>
    <h1 style="text-align: center;">Ящик</h1>
    <div class="form-group">
      <form method="POST" class="post-form" style="width: 50%; height: 50%; text-align: center; border: 3px solid black; padding: 10px; margin-left: auto; margin-right: auto; border-radius: 10px;">
        {% csrf_token %}
          {{ form.as_p}}
          <button type="submit" class="save btn btn-primary">Зберегти</button>
      </form>
    </div>
</div>
{% endblock %}
